.machine {
  width: 500px;
  height: 700px;
  background: #3f556b;
  padding: 0em;
  margin: 3em auto;
  position: relative;
  border-radius: 20px;
}

.machinetop {
  text-align: center;
  background: #b1c3d0;
}

.controls {
  text-align: center;
  background: #b1c3d0;
  padding: 2em;
  padding-bottom: 0;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
}

.controls button {
  margin: 0.5em;
  padding: 1em;
  text-align: center;
  background: #e2e4e6;
  border: none;
  border-radius: 20px;
}

.controls button.active {
    box-shadow: inset 0 0 12px 7px #74a59e;
    background: #92d0c7;
}

.controls button img {
  display: block;
  margin: 0 auto;
}

.controls button span {
  display: block;
  /* width: 90px; */
}

.screenouter {
  background: #b1c3d0;
  padding: 2em;
  padding-top: 0;
}

.screen {
  text-align: center;
  background: #3cb44a;
  padding: 0.5em;
  /* width: 75%; */
  height: 80px;
  margin: 0 auto;
  box-shadow: inset 0 0 12px 7px #0e9247;
  border-radius: 20px;
  font-family: 'Turret Road', cursive;
  font-size: 1.2em;
}

.nozzle {
  position: relative;
}

.nozzle:before {
  content: "";
  width: 20px;
  height: 40px;
  background: #8eadbe;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  display: block;
  position: absolute;
  left: 240px;
}

.cup img {
  width: 150px;
}

.cup {
  position: absolute;
  bottom: 126px;
  left: 190px;
      width: 150px;
    height: 150px;
    /* background: pink; */
    /* mask: url(mug.svg); */
}

.mug {
  mask-size: cover;
  mask-image: url(mug.svg);
  width: 100%;
  height: 100%;
  background-color: #ffffff;
}

#mugfill {
  mask-size: cover;
  mask-image: url(mugfill.svg);
  position: absolute;
  bottom: -15px;
  left: -32px;
  width: 180px;
  height: 180px;
  clip-path: polygon(0 100%, 100% 100%, 100% 100%, 0% 100%);
  transition: 2s;
  background: #fff;
}

#mugfill.lemontea {
background: #9A6A0C;
}

#mugfill.coffee {
background: #7F2B08;
}

#mugfill.hotchocolate {
background: #5F2208;
}

#mugfill.filled {
  clip-path: polygon(0 100%, 100% 100%, 100% 35%, 0 35%);

}

.bottom {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 130px;
  background: #b1c3d0;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
}

.credits {
  text-align: center;
}